<h1>Welcome to the Library of the MINDDDDDDDD...</h1>

<a href="/librarian_books">Are you a librarian?</a>

<h3>Click on your name:</h3>

<ul>
  <% @patrons.each() do |patron| %>
    <li><a href="/patron/<%= patron.id() %>"><%= patron.name() %></a></li>
  <% end %>
</ul>

<h3>Fill out the form below to create a new patron</h3>
<form action="new_patron" method="post">
  <label for="name">Enter your name:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Submit</button>
</form>
